.n-home {
  height: 100%;
  ::-webkit-scrollbar {
    width: 2px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #9b95c9;
  }
  .n-list-cont {
    width: 360px;
    background-color: #444693;
    position: relative;
    .n-ul {
      padding: 52px 6px 4px 4px;
      overflow-y: scroll;
      flex: 1;
      direction: rtl;
      >* {
        direction: ltr;
        text-align: left;
      }
    }
    .n-filter-cont {
      position: absolute;
      top: 0;
      z-index: 1000;
      background: #444694;
      direction: rtl;
      padding: 12px 8px 8px;
      left: 2px;
      right: 0;
    }
    .n-filter {
      overflow-y: scroll;
      direction: ltr;
    }
    .n-more {
      color: #afb4db;
      font-size: 20px;
      padding: 0px 0;
      margin-left: 4px;
      width: 32px;
      height: 32px;
    }
  }
  .loading-bar {
    height: 36px;
    overflow: hidden;
    margin: 0 0 -8px !important;
    padding-bottom: 8px;
  }
  .mail-item-cont {
    position: relative;
    &:first-child {
      margin-top: 0;
    }
    &.active:not(.selected) {
      &:hover {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      }
      .n-date {
        font-size: 12px;
        color: #b1b3b6;
      }
      .mail-item:hover {
        background-color: rgba(0, 0, 70, 0.3);
        color: #fffffb;
        :not(.n-unseen) .n-date {
          color: #d3d7d4;
        }
      }
      .n-seen {
        font-weight: 400;
      }
      .n-unseen .n-from-name {
        font-weight: 600;
        color: #7bbfea;
      }
      .n-unseen .n-date {
        color: #7bbfea;
      }
      .n-unseen .n-m-context {
        font-weight: bold;
      }
    }
    &.selected {
      .mail-item {
        background-color: #afb4db;
        color: #130c0e;
        background-position: 0 !important;
      }
      .n-date {
        color: #3e4145;
      }
    }
    margin: 8px 4px;
    display: block;
    border-radius: 2px;
    overflow: hidden;
    .mail-item {
      text-align: left;
      padding: 6px 12px;
      background-color: #444693;
      will-change: background;
      color: #fcfcff;
    }
    .mail-head-date {
      margin-left: 4px;
    }
    .mail-head {
      color: #afb4db;
      padding: 0 12px;
      background-color: #585eaa;
      height: 30px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      position: relative;
    }
    .mail-item-bg {
      background-image: linear-gradient(90deg, rgba(180, 180, 180, 0.1) 0%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.24) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(180, 180, 180, 0.1) 100%);
      background-size: 200% 100%;
      background-position: 100% 0;
    }
    .n-loading {
      background-size: 340px 100px;
      background-image: url(../assets/images/mail-loding.svg);
      background-repeat: no-repeat;
    }
    .mail-temp {
      height: 80px;
      width: 340px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.08);
      opacity: 0.8;
    }
  }
  .n-m-from {
    height: 44px;
    border-radius: 50%;
  }
  .n-from-name {
    color: inherit;
  }
  .n-m-context {
    flex: 1;
    padding: 4px 0;
    font-size: 1.06em;
  }
  .n-avator-cont {
    width: 44px;
  }
  .n-r-view {
    position: relative;
    flex: 1;
    min-width: 525px;
    >*:first-child {
      height: 100%;
    }
  }
}

.n-create-modal {
  .n-title {
    font-size: 1.12em;
    color: #d3d7d4;
  }
}